<div class="container">
    <div class="row align-items-center" data-aos="flip-right">
        <div class="col-md-6 card">
            <h1>Know about your company</h1>
        </div>
        <div class="col-md-6 p-5">
            <div class="row align-items-end card">
                <h2>Real Page – Property Tech Industry Giant
                </h2>
            </div>
            <div class="row align-items-end card mt-5">
                <h2>Property Tech company offering SAAS Product suite for serving different values in the Renter’s
                    life
                    cycle over atleast 40% of the Rental Market in USA
                </h2>
            </div>
        </div>
    </div>
</div>